*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    padding:auto ;
    width: 100%;
    height: 100%;
}
main{
    position: relative;
    top: 150px;
    left: 150px;
    
}
.menu{
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
}


.black {
    background-color: black;
}
.red{
     background-color: red; 
}
.square{
    width: 75px;
    height: 75px;
    float: left;
}
.orange {
      background-color: orange; 
}
.blue {
    background-color: blue;
}
header{
    position: absolute;
    display: flex;
     background-color: white;
     border: 4px 2px black;
    box-shadow: 5px rgb(243, 240, 240);
    width: 100%;
    height: 150px;
    padding: 20px;
}
header a {
    font-family: cursive;
    
    text-align: center;
}

p , a, h1,h2,h3{
    font-family: cursive;
    font-weight: 200;
}
.mt-0 {
    margin-top: 0 !important;
    margin-bottom: 5px;
    margin: 5px
  }

.p-3{
padding: auto;
}