<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERPMax-Task</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename='jscript.js') }}"></script>
<!-- linking an image -->
    <!-- <img src="{{ url_for('static', filename='my_img.png') }}"> -->
</head>
<body>
    
    <div class="d-flex justify-content-start align-items-center">
        <div class="card">
            <div class="row col">
                <img  alt="..." class="img-thumbnail" src="/static/download.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col">    
            <a class="alert alert-primary" role="alert" href="/two"> Locations</a>
            </div>
            
        </div>
        <div class="card me-2">
            <div class="col">    
                <a class="alert alert-primary center" role="alert"href="/">Products</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="alert alert-primary center" role="alert"href="/move">Movement</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                            <a class="alert alert-primary center" role="alert"href="/report">Report</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                            <a class="alert alert-primary center" role="alert"href="/movement">System Movement</a>
            </div>
        </div>
    </div>    
    <main class="container-fluid ">
    


            {% if  flag==0 %}

        <div class="alert alert-info" role="alert"class="alert alert-info" role="alert">
            <div class="card">
                <div class="card-header">
                <h1>Add a Movement</h1>
                </div>
            </div>

                    <form action="/create_move" method="POST">
                        <div class="form-group col-md-6">
                            <p class="form-control" >  the ProductName : 
                                <select name="pname">
                                {% for  product in all_products %}
                                <option value="{{product["product_id"]}}">{{product["product_name"]}} </option>
                                {% endfor%}
                                </select>
                            </p>
                        </div>  
                        <div class="form-group col-md-6">
                            <p class="form-control">location from : 
                                <select name="locations_id_f">
                                {% for  location in all_locations %}
                                <option value="{{location["idlocation"]}}">{{location["location_name"]}} </option>
                                {% endfor%}
                                </select>
                            </p>
                        </div>  
                        <div class="form-group col-md-6">
                            <p class="form-control">location to  : 
                                <select name="locations_id_t">
                                {% for  location in all_locations %}
                                <option value="{{location["idlocation"]}}">{{location["location_name"]}} </option>
                                {% endfor%}
                                </select>
                            </p>
                        </div>  
                        <div class="form-group col-md-6">
                            <p class="form-control"> quantity : <input type="number" name="qty"></p> <p>
                        </div>  
                        <div class="form-group col-md-2">
                            <p class="form-control">
                                <input type="submit" class="btn btn-primary"  value="Add Movement">
                            </p>
                        </div>
                    </form>
            </div>

            {% endif %}




            {% if  flag==2 %}

        <div class="alert alert-info" role="alert"class="alert alert-info" role="alert">
                <h1>Add a Product</h1>
                    <form action="/create_product" method="POST">
                        <p> the ProductName : <input type="text" name="pname"></p>
                        <p>location Name: 
                            <select name="locations_id">
                            {% for  location in all_locations %}
                            <option value="{{location["idlocation"]}}">{{location["location_name"]}} </option>
                            {% endfor%}
                            </select>
                        </p>

                        <input class="btn btn-primary"  type="submit" value="Add product">
                    </form>
            </div>

<div class="alert alert-info" role="alert"class="alert alert-info" role="alert">
    <h1>All My products</h1>
    <table class="table table-striped">
        <thead>
                {% for  products in locationsforprod %}
                <tr>
                      <th scope="col">#</th>
                <th scope="col"> <p>Name :  <a href="/product/{{products["product_id"]}}"> t {{products["product_name"]}}</a></p></th>
                <th scope="col"> <p>location :{{products["location_name"]}}</p></th>
            </tr>

        {% endfor %}
</thead>
    </table>




</div>


   </div>
{% elif flag == 3 %}
<div class="alert alert-info" role="alert"class="alert alert-info" role="alert">
        <h1>Add a Location</h1>
            <form action="/create_location" method="POST">
                <p>location Name: <input type="text" name="lname"></p>

                <input class="btn btn-primary"  type="submit" value="Add location">
            </form>
            </div>
            <div class="alert alert-info" role="alert"class="alert alert-info" role="alert">

        <h1>All My locations</h1>
        <table class="table table-striped">
            <thead>
                {% for  location in all_locations %}
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> <p>location :{{location["location_name"]}}</p></th>
                        <th scope="col">  <a href="/location/{{location["location_name"]}}/{{location["idlocation"]}}">  {{location["location_name"]}}</a> </th>

{% endfor %}
            </thead>
        </table>

            </div>
{% endif%}
{% if  flag==4 %}
<h1>this Special {{prods["product_name"]}}</h1>
<p>  Name: {{prods["product_name"]}}</p>
<p>location :{{location["location_name"]}}</p>
<a class="alert alert-primary" role="alert" href="/updateproduct/{{prods["product_id"]}}"> update product</a>
<a class="alert alert-primary" role="alert" href="/delete_product/{{prods["product_id"]}}"> DELETE product</a>


{% endif%}



{% if  flag==5 %}
<h1>Page is for {{loca["location_name"]}}</h1>
<p>  Name: {{loca["location_name"]}}</p>

<h1>Location Products</h1>
<table class="table table-striped">
    <thead>
        {% for  product in all_product %}
            <tr>
                <th scope="col">#</th>
                <th scope="col"> <p>product Name :{{product["product_name"]}}</p></th>
            </tr>
{% endfor %}
    </thead>
</table>
<a class="btn btn-primary"  role="alert" href="/updatelocation/{{loca["idlocation"]}}"> update location</a>
<a class="btn btn-primary"  role="alert" href="/delete_location/{{loca["idlocation"]}}"> DELETE location</a>

{% endif%}

{% if flag == 7  %}
        <div class="alert alert-info" role="alert"class="alert alert-info" role="alert">
            <h1>Edit a product</h1>
                <form action="/update_product/{{prod["product_id"]}}" method="POST">
                    <p>product Name: <input type="text" value="{{prod["product_name"]}}" name="pname"></p>

                    <input class="btn btn-primary"  type="submit" value="update product">
                </form>
            </div>
{% endif%}

{% if flag == 8  %}
        <div class="alert alert-info" role="alert"class="alert alert-info" role="alert">
            <h1>Edit a Location</h1>
                <form action="/update_location/{{loca["idlocation"]}}" method="POST">
                    <p>location Name: <input type="text" value="{{loca["location_name"]}}" name="lname"></p>

                    <input class="btn btn-primary"  type="submit" value="update location">
                </form>
            </div>
{% endif%}


        </div>





        
    </main >
    
    <main style="left: 50px;">
        {% if flag == 10%}
        <div class="container ">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Location</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="alert alert-success " >

            <input class="btn btn-primary"  type="button" value="print the report"  onClick="window.print()">
            </div>

        </div>
        {% endif%}

        {% if flag == 11%}
        <div class="container col-xl ">
            <table class="table table-bordered">
                <thead>

               
                    <tr>
                        <th scope="row">id</th>
                        <td>product</td>
                        <td> to location</td>
                        <td>from location</td>

                        <td>qty</td>
                        <td>time Stamp</td>

                    </tr>
                    
                </thead>

                    <tbody>
                        {% for  movement in all_movement %}
                    <tr>
                        <th scope="col"># {{movement["idproductmovement"]}}</th>
                        <th scope="col">{{movement["product_name"]}}</th>
                        {% if movement["to_location"]  %}
                        <th scope="col">{{all_location.get(movement["to_location"])}}</th>
                        {% else %}
                        <th scope="col">
                            <form action="/set_location_t/{{movement["idproductmovement"]}}" method="post">
                            <select name="location_to">
                                {% for i in all_location%}
                                <option value="{{i}}" selected>{{all_location.get(i)}} </option>
                                {% endfor %}

                            </select>
                                <input type="submit" value="set">
                            </form>
                        </th>
                        {% endif %}


                        {% if movement["from_location"]  %}
                        <th scope="col">{{all_location.get(movement["from_location"])}}</th>
                        {% else %}
                        <th scope="col">
                            <form action="/set_location_f/{{movement["idproductmovement"]}}" method="post">
                            <select name="location_f">
                                {% for i in all_location%}
                                <option value="{{i}}" selected>{{all_location.get(i)}} </option>
                                {% endfor %}

                            </select>
                                <input type="submit" value="set">
                            </form>
                        </th>
                        {% endif %}
                        <th scope="col">{{movement["quantity"]}}</th>
                        <th scope="col">{{movement["timestamp"]}}</th>
                        <th scope="col"><a class="alert alert-primary" role="alert" href="/move_into/{{movement["idproductmovement"]}}"> Move out </a>   </th>
                        <th scope="col"><a class="alert alert-primary" role="alert" href="/move_out/{{movement["idproductmovement"]}}"> Move into</a>   </th>
                        <th scope="col"><a class="btn btn-warning" role="alert" href="/delete_movement/{{movement["idproductmovement"]}}"> Delete </a>   </th>

                    </tr>
                    {% endfor %}

            </tbody>
               
            </table>
            <div class="alert alert-success " >

            <input class="btn btn-primary"  type="button" value="print the report"  onClick="window.print()">
            </div>

        </div>
        {% endif%}




    <div class="container ">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Erp-Max, Inc</span>
          </div>
      
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
        </footer>
    </div>
    </main>
</body>
</html>